/* Show it is fixed to the top */
body {
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    background: #454545;
    color: #E0FFEF;
  }
.navigation {
    margin: 0;
    background: #1A2326;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.navigation h1 {
    margin: 5px 10px;
    font-size: 1.7em;
}
.columnas {
    margin-top: 2em;
}
.soundButton {
    background-color: transparent;
}
.soundButton.playing {
    background-color: rgba(0,255,0,0.7);
}
button, input {
    border-radius: 2px;
    border: 1px solid #AAA;
    padding: 5px 10px;
    background: #EAEAEA;
}
ul.soundList li {
    list-style-type: none;
    padding: 20px 10px;
    text-align: center;
}
ul.soundList li a {
    display: inline-block;
    text-align: center;
    background-color: #555;
    color: #AAA;
}
ul.soundList .soundButton {
    display: inline-block;
    padding: 20px 40px;
    margin-right: 10px;
    margin-bottom: 10px;
}