/* Show it is fixed to the top */
body {
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    background: #454545;
    color: #E0FFEF;
  }
a {
    color: #E0FFEF;
}
.navigation {
    margin: 0;
    background: #1A2326;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
button {
    outline-width: 0;
}
.navigation h1 {
    margin: 5px 10px;
    font-size: 1.7em;
}
.navigation ul.links {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
}
.navigation ul.links li {
    list-style-type: none;
    padding: 0 5px;
    display: inline-block;
    text-align: right;
}
.navigation ul.links li a {
    color: #AAA;
    display: inline-block;
    padding: 19px 20px;
    font-size: 1.2em;
}
.navigation ul.links li a:hover {
    color: #E0FFEF;
    background: rgba(255,255,255,0.1);
}
.main-view {
    margin: 2em 1em;
}
.soundButton {
    background-color: transparent;
}
.soundButton.playing {
    background-color: rgba(0,255,0,0.7);
}
button, input {
    border-radius: 2px;
    border: 1px solid #AAA;
    padding: 5px 10px;
    background: #EAEAEA;
}
ul.soundList {
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}
ul.soundList li {
    list-style-type: none;
    margin: 0;
    text-align: center;
}
ul.soundList li button {
    display: inline-block;
    border: 0;
    width: 100%;
    font-size: 1.4em;
    text-align: center;
    background-color: #555;
    color: #AAA;
}
ul.soundList .soundButton {
    display: inline-block;
    padding: 20px 0;
    margin-right: 10px;
    margin-bottom: 10px;
}